:root{
  --mainBlue: #20639B;
  --lightBlue: #3CAEA3;
  --mainWhite: #f3f3f3;
  --mainDark: #173F5F;
  --mainYellow: #F6D55C;
  --mainOrange: #ED553B;
  --mainRed: #800000;

}

body {
  font-family: 'Pacifico', cursive !important;
  background:  var(--mainWhite)!important;
  color: var(--mainDark)!important;
}

.text-title{
  font-family: 'Poiret One', cursive;
letter-spacing: 0.3 rem;
text-transform: uppercase;
}

.text-blue{
  color:  var(--mainDark);
}
.text-bright{
  color: var(--lightBlue);
}
